body {
  width: 100%;
  height: 100%;
  margin: 0;
}

header {
  text-align: center;
}
nav a {
  padding-inline: 10px;
  background-color: grey;
}

figure {
  text-align: center;
}
figcaption {
  font-size: 15px;
}
figure img {
  display: block;
  margin: auto;
}
#featured-property p {
  width: 800px;
  margin: auto;
  text-align: center;
}

#details div {
  float: left;
  width: 25%;
  background-color: red;
  text-align: center;
}
